

        <div class="blockFixe">
            <div class="row contenedorChat">
                <div id="<%= login %>" class="blockChat">
                    <div class="popup-box chat-popup" id="qnimate">
                        <div class="popup-head">
                            <div class="popup-head-left pull-left"><img id="userImg" src="<%= userImg %>" alt="<%= login %>"> <%= login %></div>
                            <div class="popup-head-right pull-right">
                                <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button">
                                    <i class="fa fa-power-off"></i>
                                </button>
                            </div>
                        </div>
                        <div class="popup-messages">
                            <div class="direct-chat-messages" id="mensajes">

                            </div>
                        </div>
                        <div class="popup-messages-footer">
                            <textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
                            <!-- <div class="btn-footer"> -->
                            <button id="enviar" class="btn-outline-info rounded-circle boton">
                                <i class="fa fa-share"></i>
                            </button>
                        </div>
                        <!-- <div class="btn-footer"></div> -->
                    </div>
                    <div class="round hollow text-center botonChat">
                        <a id="addClass"><span class="fa fa-comment"></span> Chat </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- incluye el socket.io -->
    <script src="/js/chat.js"></script>
    <script>
        // conexion al socket

        //socket.emit('conectado', login);
        var badgeNb = $('#badgeNb').text();
        
        socket.on('newNot', function(notification)
        {

        if (badgeNb)
            $('#badgeNb').addClass('badge-danger');
        else
            $('#badgeNb').removeClass('badge-danger');
        });
    </script>