<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <h1>Home</h1>
        <div class="blockFixe">
            <div class="row contenedorChat"></div>
        </div>
    </main>
    <footer>

    </footer>

</body>
</html>