<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>
    <main>
        <div class="container">
            <br>  <p class="text-center">Matcha ! Votre site de rencontre</p>
            <hr>
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Sign In Matcha !</h4>
                    <p class="text-center">Sign In Matchat !</p>
                    <form method="POST" action="/user/login">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="login" class="form-control" placeholder="Username" type="text" required>
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input name="passwd" class="form-control" placeholder="password" type="password" required>
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                        </div>
                        <p class="text-center">Don't have an account! <a href="/">Sign Up Here</a></p>
                    </form>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modal">Forgot password ?</button>
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Forgot password</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/recup">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">E-mail:</label>
                                        <input type="text" class="form-control" name="mail" id="mailRecup">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input type="submit" class="btn btn-primary" value="Send">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
                <% if (error != '') { %>
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert" href="#">×</a><%= error %>
                </div>
                <% } %>
                <% if (message != '') { %>
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert" href="#">×</a><%= message %>
                </div>
                <% } %>
            </div> <!-- card.// -->
        </div> 
            <!--container end.//-->
    </main>
    <footer>

    </footer>
    
</body>
</html>